<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="br.com.caelum.editorswticher.goto"
            name="name">
         <commandParameter
               id="br.com.caelum.editorswticher.index"
               name="name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.com.caelum.editorswitcher.SwitcherHandler"
            commandId="br.com.caelum.editorswticher.goto">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+1">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="1">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+2">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="2">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+3">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="3">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+4">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="4">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+5">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="5">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+6">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="6">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+7">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="7">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+8">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="8">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+9">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="9">
         </parameter>
      </key>
      <key
            commandId="br.com.caelum.editorswticher.goto"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+0">
         <parameter
               id="br.com.caelum.editorswticher.index"
               value="0">
         </parameter>
      </key>
   </extension>

</plugin>
